<h2 class="p-4">{{"welcome" |translate}}</h2>

<div *ngIf="loading; else elseBlock" class="d-flex justify-content-center" >
    <div  class="spinner-grow" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<ng-template #elseBlock>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroesList">
            <th scope="row"> 
                <a routerLink="/detail/{{hero.id}}">
                    <span class="nav-link">{{hero.id}}</span> 
                </a>
            </th>
            <td>{{hero.name}}</td>
            <td><button type="button" class="btn btn-sm m-0 btn-danger" title="delete hero"
                (click)="delete(hero)"> x </button>
            </td> 
          </tr>
        </tbody>
    </table>
    <div *ngIf="hero" class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">{{hero.name | uppercase}}</div>
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Hero name: </span>
                <input #heroName id="hero-name" class="form-control" [(ngModel)]="hero.name" placeholder="name">        
            </div>
            <button type="button" class="btn btn-primary" (click)="add(heroName.value); heroName.value=''">
                Add hero
            </button>
        </div>
    </div>
</ng-template>
